<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Random Passcode (passcode # @ViewBag.passcode_int) </h1> 

    @ViewBag.Example
<form action="method">
    <input type="submit">
</form>


</body>
</html>

NOTES:
1. Get button to redirect
2. Add random passcode lines
3. Implement Counter