<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/contactstyle.css"/>
</head>
<body>
    <h1>Full Stack Developer</h1>
    <ul>
        <li><a href="/home">Home</a> </li>
        <li><a href="projects">Projects</a> </li>
        <li><a href="contact">Connect</a> </li>
    </ul>

    <h1>Contact me!</h1>
    <form action="/projects">
        Name <input class = "formstuff" type="text">
        Email <input class = "formstuff" type="text">
        Comments <input class = "formstuff" type="text">
        <input type="submit">

    </form>
    
</body>
</html>