<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/homestyle.css"/>
</head>
<body>
    <h1>Full Stack Developer</h1>
    <ul>
        <li><a href="/home">Home</a> </li>
        <li><a href="projects">Projects</a> </li>
        <li><a href="contact">Connect</a> </li>
    </ul>
    <h2>This is what I look like</h2>
    <img src="chi-skyline.jpg" alt="deeznuts">
    <h2>Name: mishaq10</h2>
    <h2>About Me</h2>
    <p>Current Coding Dojo Bootcamp student. Background in cyber security. 
        Professional interests include social engineering and it's impact on security policies.
        Love long distance running and backpacking. Born and raised in the east coast, but a huge fan of the mid west!</p>
    
</body>
</html>