<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/projectstyle.css"/>
</head>
<body>
    <h1>Full Stack Developer</h1>
    <ul>
        <li><a href="/home">Home</a> </li>
        <li><a href="projects">Projects</a> </li>
        <li><a href="contact">Connect</a> </li>
    </ul>
    <h2>These are some of the project titles I've worked on</h2>
    
    <h3>Samurai, Ninja, Warrior</h3>
    <p>Ipsookipsoo</p>

    <h3>Time Display</h3>
    <p>Ipsookipsoo</p>

    <h3>Portfolio</h3>
    <p>Ipsookipsoo</p>

</body>
</html>