<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Survey Results:</h1> 
    <h3>Name: @ViewBag.name </h3>
    <h3>Location: @ViewBag.location</h3>
    <h3>Favorite Language: @ViewBag.language </h3>
    <h3>Comments: @ViewBag.comment </h3>
</body>
</html>