<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Survey Form</h1>
    <form action = "/result" method="post">  
        Your name: <input type="text" name="Name"><br>
        Location: <input type="text" name="Location">
        Language: <input type="text" name="Language">
        Comments: <input type="text" name="Comments">
        <button type="submit">Submit</button>
    </form>
<h1>    </h1>
</body>
</html>