<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        <h2>The current time and date:</h2>
            <h3>@DateTime.Now </h3>
    </body>
</html>