@{
    ViewData["Title"] = "Home Page";
}

<div class = "wrapper">   
    <h1>Welcome!</h1>

    <p>

// 1. Address ERROR
2. model validations
3. model database (do MUSIC LINQ/ CRUD assignment FIRST)
/*
Controllers/HomeController.cs(26,17): error CS0117: 
'User' does not contain a definition for 'first_Name' 
[/Users/MuhammadIshaq/Desktop/DojoAssignments/c#_assignments/login_registration/login_registration/
login_registration.csproj]
Controllers/HomeController.cs(27,17): error CS0117: '
User' does not contain a definition for 'last_Name' 
[/Users/MuhammadIshaq/Desktop/DojoAssignments/c#_assignments/
login_registration/login_registration/login_registration.csproj]
*/


        <div>
            I@I{
                foreach(var error in ViewBag.errors)
                {
                    //If there are any errors for a field...
                    if(I@Ierror.Errors.Count > 0)
                    {
                        // We show the first error for that field
                        <p>I@Ierror.Errors[0].ErrorMessage</p>
                    }
                }
            }
        </div>
    </p>

    <h2>New Users, Register</h2>
    <form action="create" method="POST">
        First Name: <input type="text" name="First_Name" /></br>
        Last Name: <input type="text" name="Last_Name"/></br>
        Email: <input type="text" name="Email"/></br>
        Password: <input type="text" name="Password"/></br>
        Confirm Password: <input type="text" name="Password_Confirm"/></br>
        <button type="submit">Register</button>
    </form>




    <h2>Login</h2>

    <form action="create" method="POST">
        Email: <input name="Email" type="text"/></br>
        Password: <input name="Password" type="text"/></br>
        <button type="submit">Login</button>
    </form>

</div>