<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Fullness: Happiness:  Meals:  Energy: </h3>

    <h1>You   your Dojoachi! </h1>
    <h2> @ViewBag.Fullness @ViewBag.Meals;

    <div>

        <form action="feed" method="post">
            <input type="submit" value="Feed" name = "feed">
        </form>

        <form action="play" method="post">
            <input type="submit" value="Play" name = "play">
        </form>

        <form action="work" method="post">
            <input type="submit" value="Work" name = "work">
        </form>

        <form action="sleep" method="post">
            <input type="submit" value="Sleep" name = "sleep">
        </form>
    
    </div>

    <div>
        
    </div>
</body>
</html>